<ion-content>
  <ion-card class="new" style="max-width: 30%">
    <ion-card-title class="card-title">Yeni Ödüller</ion-card-title>
    <ion-item>
      <ion-card color="light">
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              src="../../assets/market_resimleri/4.b.Kişisel_Gelişim_Zirvesi.jpg"
            />
          </ion-thumbnail>
          <div>
            <ion-label>ion-item in a card, icon left, button right</ion-label>
            <ion-label class="secondary-label"
              >ion-item in a card, icon left, button right</ion-label
            >
          </div>

          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-card>
</ion-content>
