<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="width:40%">
        <ion-card style="height:100%; width:100%">
          <ion-label class="rank" slot="start">1.</ion-label>
          <ion-avatar>
            <img
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
            />
          </ion-avatar>
          <ion-label>Chip Avatar</ion-label>
        </ion-card>
      </ion-col>
      <ion-col style="width:40%; margin-top:5px">
        <ion-row>
          <ion-card style="height:100%; width:100%">
            <ion-label slot="start">2.</ion-label>
            <ion-avatar>
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-avatar>
            <ion-label>Chip Avatar</ion-label>
          </ion-card>
        </ion-row>
        <ion-row>
          <ion-card style="height:100%; width:100%">
            <ion-label slot="start">3.</ion-label>
            <ion-avatar>
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-avatar>
            <ion-label>Chip Avatar</ion-label>
          </ion-card>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-label slot="start">4.</ion-label>
    <ion-avatar>
      <img
        src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
      />
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-card>
  <ion-card>
    <ion-label slot="start">5.</ion-label>
    <ion-avatar>
      <img
        src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
      />
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-card>
  <ion-card>
    <ion-label slot="start">6.</ion-label>
    <ion-avatar>
      <img
        src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
      />
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-card>
  <ion-card>
    <ion-label slot="start">7.</ion-label>
    <ion-avatar>
      <img
        src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
      />
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-card>
  <ion-card>
    <ion-label slot="start">8.</ion-label>
    <ion-avatar>
      <img
        src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
      />
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-card>
</ion-content>
