<ion-header>
  <ion-toolbar>
    <ion-title>Pazar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card class="nes-container is-rounded no-padding slide" color="light">
    <ion-slides>
      <ion-slide>
        <ion-label style="margin-top: 10px; color:dodgerblue; font-size: 10pt">Eğitim</ion-label>
        <ion-label>Piksel Akademi</ion-label>
        <ion-label class="secondary-label" style="font-size: 13pt" slot="start">ion-item in a card, icon left, button
          right</ion-label>
        <div class="slide-image">
          <img src="../../assets/market_resimleri/13.Piksel_Akademi.png" />
        </div>
      </ion-slide>
      <ion-slide>
        <ion-label style="margin-top: 10px; color:dodgerblue; font-size: 10pt">Popüler</ion-label>
        <ion-label>Sinema Bileti</ion-label>
        <ion-label class="secondary-label" style="font-size: 13pt" slot="start">ion-item in a card, icon left, button
          right</ion-label>
        <div class="slide-image">
          <img src="../../assets/market_resimleri/1.Sinema_Bileti.jpg" />
        </div>
      </ion-slide>
      <ion-slide>
        <ion-label style="margin-top: 10px; color:dodgerblue; font-size: 10pt">Özel</ion-label>
        <ion-label>Aile Boyu</ion-label>
        <ion-label class="secondary-label" style="font-size: 13pt" slot="start">ion-item in a card, icon left, button
          right</ion-label>
        <div class="slide-image">
          <img src="../../assets/market_resimleri/2.Alışveriş_çeki.jpg" />
        </div>
      </ion-slide>
      <ion-slide>
        <ion-label style="margin-top: 10px; color:dodgerblue; font-size: 10pt">Özel</ion-label>
        <ion-label>Market Kuponu</ion-label>
        <ion-label class="secondary-label" style="font-size: 13pt" slot="start">ion-item in a card, icon left, button
          right</ion-label>
        <div class="slide-image">
          <img src="../../assets/market_resimleri/3.Market_kuponu.jpg" />
        </div>
      </ion-slide>
      <ion-slide>
        <ion-label style="margin-top: 10px; color:dodgerblue; font-size: 10pt">Popüler</ion-label>
        <ion-label>Microsoft Office Eğitimi</ion-label>
        <ion-label class="secondary-label" style="font-size: 13pt" slot="start">ion-item in a card, icon left, button
          right</ion-label>
        <div class="slide-image">
          <img src="../../assets/market_resimleri/4.a.Microsoft_Eğitimi.jpg" />
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="new">
    <ion-card-title class="card-title">Yeni Ödüller</ion-card-title>

    <ion-card *ngFor="let new of newPrizes" class="nes-container is-rounded no-padding" color="light">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="new.image" />
        </ion-thumbnail>
        <div class="mt-16">
          <ion-label>{{ new.title }}</ion-label>
          <p class="secondary-label">{{ new.detail }}</p>
          <ion-progress-bar color="tertiary" [value]="new.progress" ></ion-progress-bar><br>
        </div>
      </ion-item>
    </ion-card>
  </ion-card>

  <ion-card class="popular">
    <ion-card-title class="card-title">Popüler Ödüller</ion-card-title>

    <ion-card *ngFor="let new of popularPrizes" class="nes-container is-rounded no-padding" color="light">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="new.image" />
        </ion-thumbnail>
        <div class="mt-16">
          <ion-label>{{ new.title }}</ion-label>
          <p class="secondary-label">{{ new.detail }}</p>
          <ion-progress-bar color="tertiary" [value]="new.progress" ></ion-progress-bar><br>
        </div>
      </ion-item>
    </ion-card>
  </ion-card>
</ion-content>