<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="../../assets/icon/home.png" style="width:70%" />
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <img src="../../assets/icon/notif.png" style="width:55%" />
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <img src="../../assets/ercan_altuğ_yılmaz_kafa.png" style="width:75%" />
    </ion-tab-button>

    <ion-tab-button tab="store">
      <img src="../../assets/icon/basket.png" />
    </ion-tab-button>

    <ion-tab-button tab="leaderboard">
      <img src="../../assets/icon/trophy.png" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
