<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="apps"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="store">
      <ion-icon name="send"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="leaderboard">
      <ion-icon name="send"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="send"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
