.badge-text{
    text-align:center;
    font-size: 9;
    color:gray;
}

.item-avatar  {    
    margin: 0 auto;
    text-align: center; 
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    }

.slide_img{
    text-align: center;
    width: 80%;
    display: block;
}

.swiper-slide{
    flex-direction: column;
}

.secondary-label{
    color:gray;
    font-size: 9px;
}