<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card color="light">
    <ion-card-header>
      <div style="text-align:center">
        <ion-avatar class="item-avatar">
          <img src="../../assets/ercan_altuğ_yılmaz_kafa.png" style="text-align: center">
        </ion-avatar>
        <ion-card-title>Altuğ Yılmaz</ion-card-title>
      </div>
      <!-- seviye avatarı -->
      <div style="text-align:center">
        <ion-chip>
          <ion-progress-bar color="tertiary" value="0.5" buffer=".5" reversed="true" width="100%"></ion-progress-bar>

          <!-- <ion-label>150/300</ion-label> -->
          <ion-label color="tertiary">3</ion-label>
          <!--construct dsa olabilir-->
        </ion-chip>
      </div>


    </ion-card-header>


    <!--summary-->
    <ion-card-content>
      <!--ne kadardır, badge, departman-->
      <div stye="text-align:center">
        <ion-grid>
          <ion-row class="ion-justify-content-evenly">
            <!--yıl-->
            <ion-col size="25%">
              <ion-row class="ion-justify-content-evenly">
                <ion-badge color="primary">4</ion-badge>
              </ion-row>
              <ion-row class="ion-justify-content-evenly">
                <div class="badge-text">
                  Ay
                </div>
              </ion-row>
            </ion-col>

            <!--ödül-->
            <ion-col size="25%">
              <ion-row class="ion-justify-content-evenly">
                <ion-badge color="primary">10</ion-badge>
              </ion-row>
              <ion-row class="ion-justify-content-evenly">
                <div class="badge-text">
                  Ödül
                </div>
              </ion-row>
            </ion-col>

            <!--Departman-->
            <ion-col size="25%">
              <ion-row class="ion-justify-content-evenly">
                <ion-badge color="primary">Toplama</ion-badge>
              </ion-row>
              <ion-row class="ion-justify-content-evenly">
                <div class="badge-text">
                  Departman
                </div>
              </ion-row>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>
      <div style="text-align: left">
        Hobilerim: Futbol, basketbol<br>
        Hayalim: Amerika'ya gitmek
      </div>
      <div style="text-align:center">
        <ion-button fill="clear" color="secondary">
          Profili düzenle
        </ion-button>
      </div>
    </ion-card-content>

  </ion-card>

  <ion-card color="light">
    <ion-header>
      6 Rozet
    </ion-header>
    <ion-slides>
      <ion-slide>
        <ion-grid>
          <ion-row class="ion-justify-content-evenly">
            <!--1 badge-->
            <ion-col>
              <ion-row class="ion-justify-content-evenly">
                <ion-icon name="bicycle"></ion-icon>
              </ion-row>
              <ion-row class="ion-justify-content-evenly">
                <div class="badge-text">
                  Maraton Koşucu
                </div>
              </ion-row>
            </ion-col>

            <!--1 badge-->
            <ion-col>
              <ion-row class="ion-justify-content-evenly">
                <ion-icon name="bulb"></ion-icon>
              </ion-row>
              <ion-row class="ion-justify-content-evenly">
                <div class="badge-text">
                  Harika Fikirler
                </div>
              </ion-row>
            </ion-col>
            <!--1 badge-->
            <ion-col>
              <ion-row class="ion-justify-content-evenly">
                <ion-icon name="contacts"></ion-icon>
              </ion-row>
              <ion-row class="ion-justify-content-evenly">
                <div class="badge-text">
                  Sosyal
                </div>
              </ion-row>
            </ion-col>

            <!--1 badge-->
            <ion-col>
              <ion-row class="ion-justify-content-evenly">
                <ion-icon name="hammer"></ion-icon>
              </ion-row>
              <ion-row class="ion-justify-content-evenly">
                <div class="badge-text">
                  İş Güvenliği Bilgesi
                </div>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-evenly">
            <!--1 badge-->
            <ion-col>
              <ion-row class="ion-justify-content-evenly">
                <ion-icon name="ribbon"></ion-icon>
              </ion-row>
              <ion-row class="ion-justify-content-evenly">
                <div class="badge-text">
                  Fevkalede Performans
                </div>
              </ion-row>
            </ion-col>

            <!--1 badge-->
            <ion-col>
              <ion-row class="ion-justify-content-evenly">
                <ion-icon name="rocket"></ion-icon>
              </ion-row>
              <ion-row class="ion-justify-content-evenly">
                <div class="badge-text">
                  Uçuyor
                </div>
              </ion-row>
            </ion-col>
            <!--1 badge-->
            <ion-col>
              <ion-row class="ion-justify-content-evenly">
                <ion-icon name="time"></ion-icon>
              </ion-row>
              <ion-row class="ion-justify-content-evenly">
                <div class="badge-text">
                  Dakik
                </div>
              </ion-row>
            </ion-col>

            <!--1 badge-->
            <ion-col>
              <ion-row class="ion-justify-content-evenly">
                <ion-icon name="trending-up"></ion-icon>
              </ion-row>
              <ion-row class="ion-justify-content-evenly">
                <div class="badge-text">
                  Hızlı Yükselen
                </div>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <!--değerlendirmeler-->
  <ion-card color="light">
    <ion-slides>
      <ion-slide>
        <ion-label text-align:center>
          2 Haftalık Performans Değerlendirmen
        </ion-label>
        <div class="slide_img">
          <img src="../../assets/profile/performans.png" />
        </div>
      </ion-slide>
      <ion-slide>
        <ion-label text-align:center>
          6 Aylık Performans Değerlendirmen
        </ion-label>
        <div class="slide_img">
          <img src="../../assets/profile/performans.png" />
        </div>
      </ion-slide>

      <ion-slide>
        <ion-label text-align:center>
          Ortalama Performans Değerlendirmen
        </ion-label>
        <div class="slide_img">
          <img src="../../assets/profile/performans.png" />
        </div>
      </ion-slide>

    </ion-slides>

  </ion-card>

  <ion-card color="light">
    <ion-card-header>Muhtarlık</ion-card-header>
    <!--vardiyası ve haftalık izinleri, fazla mesai, yıllık izin bakiyesi, avans talebi -->
    <ion-slides>
      <ion-slide>
        <ion-item>
          <div>
            <ion-label>Haftalık Koşu Saatleri</ion-label>
            <ion-label class="ion-text-wrapper, secondary-label">
              <ion-badge color="secondary">23</ion-badge>
              <ion-badge color="secondary">24</ion-badge>
              <ion-badge color="tertiary">25</ion-badge>
              <ion-badge color="secondary">26</ion-badge>
              <ion-badge color="secondary">27</ion-badge>
              <ion-badge color="secondary">28</ion-badge>
              <ion-badge color="tertiary">29</ion-badge><br>
              01.10.2019'a kadar 07:00-16:30 vardiyasındasın.<br>
              İzin seçmek için sağa kaydır.
            </ion-label>
          </div>
        </ion-item>
      </ion-slide>
      <ion-slide>
        <ion-item>
          <ion-label>GG AA YY</ion-label>
          <ion-datetime displayFormat="DD MM YY" placeholder="Tarih Seçin"></ion-datetime>
          <ion-button fill="outline" slot="end">İzin Bileti Al</ion-button>
        </ion-item>
      </ion-slide>
    </ion-slides>

    <ion-slides>
      <ion-slide>
        <ion-item>
          <div>
            <ion-label>Yıllık İzin Bakiyem</ion-label>
            <ion-label class="ion-text-wrapper, secondary-label">
              31.12.2019'a kadar 5 gün iznin kaldı.<br>
              İzin talebi doldurmak için sağa kaydır.
            </ion-label>
            <ion-progress-bar color="tertiary" value="0.5" buffer=".5" reversed="false" width="80%"></ion-progress-bar>

          </div>
        </ion-item>
      </ion-slide>
      <ion-slide>
        <ion-item>
          <ion-datetime displayFormat="DD MM YY" placeholder="Başlangıç"></ion-datetime>
          <ion-datetime displayFormat="DD MM YY" placeholder="Bitiş"></ion-datetime>
          <ion-button fill="outline" slot="end">İzin Talebi</ion-button>
        </ion-item>
      </ion-slide>
    </ion-slides>
    <ion-item>
      <ion-label>Avans Talebi</ion-label>
      <ion-button fill="outline" slot="end">Avans talebinde bulun</ion-button>
    </ion-item>
  </ion-card>
  <!--iyiyrumlar-->
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">

      </ion-thumbnail>
      <div>
        <ion-label>Ekin Berk Polat</ion-label>
        <ion-label class="ion-text-wrapper, secondary-label">
          Hoşgeldin Emrah!
        </ion-label>
      </div>
      <ion-button fill="outline" slot="end">Cevapla</ion-button>
    </ion-item>
  </ion-card>
  <!--marketten aldığı ürünler ve hedefler yine slide-->
  <ion-card>
    <ion-slides>
      <ion-slide>
        <ion-item>
          <ion-thumbnail slot="start">

          </ion-thumbnail>
          <div>
            <ion-label>Ödül ismi</ion-label>
            <ion-label text-wrap class="secondary-label">
              Bu ödülü 06.09.2019 tarihinde kazandın.
            </ion-label>
          </div>
          <ion-button fill="outline" slot="end">Detaylar</ion-button>
        </ion-item>
      </ion-slide>

    </ion-slides>
  </ion-card>

</ion-content>