<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="secondary">
  <ion-card color="light">
    <ion-card-header>
      <div style="text-align:center">
        <ion-avatar class="avatar">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
            style="text-align: center">
        </ion-avatar>
        <ion-card-title>Emrah Kılıç</ion-card-title>
      </div>
      <!-- seviye avatarı -->
      <div style="text-align:center">
        <ion-chip>
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>Seviyen</ion-label>
          <ion-icon name="color-wand"></ion-icon>
          <!--construct da olabilir-->
        </ion-chip>
      </div>


    </ion-card-header>


    <!--summary-->
    <ion-card-content>
      <!--ne kadardır, badge, departman-->
      <div stye="text-align:center">

        <ion-row>
          <ion-col>
            <!-- <ion-col text-right> -->
            <!-- <div style="text-align: center"> -->
            <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              style="width:30px;height:30px;align-items:center"></ion-img>
            <ion-label style="text-align:center">Yıl</ion-label>
            <!-- </div> -->
            <!-- <ion-button color="primary" fill="clear">Yıl</ion-button> -->
          </ion-col>
          <ion-col center>
            <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              style="width:30px;height:30px;align-items:center"></ion-img>
            <ion-label style="text-align:center">Ödüller</ion-label>
          </ion-col>
          <!--bir badge seçip göster-->
          <ion-col>
            <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              style="width:30px;height:30px;align-items:center"></ion-img>
            <ion-label style="text-align:center">Departman</ion-label>
          </ion-col>
        </ion-row>
      </div>
      <div style="text-align: center">
        Your short bio
      </div>

    </ion-card-content>

  </ion-card>

  <ion-card color="light">
    <ion-slides>
      <ion-slide>
        <ion-label text-align:center>
          2 Haftalık Performans Değerlendirmem
        </ion-label>
        <div class="slide_img">
          <img src="../../assets/profile/performans.png" />
        </div>
      </ion-slide>
      <ion-slide>
        <ion-label text-align:center>
          6 Aylık Performans Değerlendirmem
        </ion-label>
        <div class="slide_img">
          <img src="../../assets/profile/performans.png" />
        </div>
      </ion-slide>

      <ion-slide>
        <ion-label text-align:center>
          Ortalama Performans Değerlendirmem
        </ion-label>
        <div class="slide_img">
          <img src="../../assets/profile/performans.png" />
        </div>
      </ion-slide>

    </ion-slides>

  </ion-card>
  
  <!--iyiyrumlar-->
  <ion-card>
      <ion-item>
        <ion-thumbnail slot="start">
            <img src="">
        </ion-thumbnail>
        <div>
        <ion-label>Ekin Berk Polat</ion-label>
        <ion-label class="ion-text-wrapper, secondary-label">
          Hoşgeldin Emrah!
        </ion-label>
        </div>
        <ion-button fill="outline" slot="end">Cevapla</ion-button>
      </ion-item>
    </ion-card>
  <!--marketten aldığı ürünler ve hedefler yine slide-->
  <ion-card>
      <ion-item>
        <ion-thumbnail slot="start">
            <img src="">
        </ion-thumbnail>
        <div>
        <ion-label>Ödül ismi</ion-label>
        <ion-label class="ion-text-wrapper, secondary-label">
          Bu ödülü 06.09.2019 tarihinde kazandın.
        </ion-label>
        </div>
        <ion-button fill="outline" slot="end">Detaylar</ion-button>
      </ion-item>
    </ion-card>

</ion-content>