.avatar{
    margin: 0 auto;
    text-align: center;
}
.slide_img{
    text-align: center;
    width: 80%;
    display: block;
}

.swiper-slide{
    flex-direction: column;
}

.secondary-label{
    color:gray;
    font-size: 12;
}