<ion-header>
  <ion-toolbar>
    <ion-title>emotion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Merhaba Altuğ!</ion-title>
  <ion-label>Bugün Nasılsın?</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img
          src="../../assets/gif/gif-6.gif"
          alt="this slowpoke moves"
          style="width:32px;height:32px;"
        />
        <ion-label>Çok Mutlu</ion-label>
      </ion-col>
      <ion-col>
        <img src="../../assets/gif/gif-1.gif" style="width:32px;height:32px;" />
        <ion-label>Mutlu</ion-label>
      </ion-col>
      <ion-col>
        <img src="../../assets/gif/gif-4.gif" style="width:32px;height:32px;" />
        <ion-label>Eh İşte</ion-label>
      </ion-col>
      <ion-col>
        <img src="../../assets/gif/gif.gif" style="width:32px;height:32px;" />
        <ion-label>Keyifsiz</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../assets/gif/gif-2.gif" style="width:32px;height:32px;" />
        <ion-label>Sinirli</ion-label>
      </ion-col>
      <ion-col>
        <img src="../../assets/gif/gif-5.gif" style="width:32px;height:32px;" />
        <ion-label>Hasta</ion-label>
      </ion-col>
      <ion-col>
        <img src="../../assets/gif/gif-3.gif" style="width:32px;height:32px;" />
        <ion-label>Uykusuz</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
