<ion-content>
  <div class="container">
    <h1>Merhaba Altuğ!</h1>
    <h2>Bugün Nasılsın?</h2>
    <textarea
      id="textarea_field"
      class="nes-textarea"
      [(ngModel)]="feeling"
    ></textarea>
    <div class="options">
      <button type="button" class="nes-btn is-success" (click)="submit()">
        <img
          src="../../assets/gif/cokmutlu.svg"
          alt="this slowpoke moves"
          style="width:32px;height:32px;"
        />
        Çok Mutlu
      </button>
      <button type="button" class="nes-btn is-primary" (click)="submit()">
        <img
          src="../../assets/gif/mutlu.svg"
          alt="this slowpoke moves"
          style="width:32px;height:32px;"
        />
        Mutlu
      </button>
      <button type="button" class="nes-btn is-warning" (click)="submit()">
        <img
          src="../../assets/gif/ehiste.svg"
          alt="this slowpoke moves"
          style="width:32px;height:32px;"
        />
        Eh İşte
      </button>
      <button type="button" class="nes-btn is-error" (click)="submit()">
        <img
          src="../../assets/gif/keyifsiz.svg"
          alt="this slowpoke moves"
          style="width:32px;height:32px;"
        />
        Keyifsiz
      </button>
      <button type="button" class="nes-btn is-primary" (click)="submit()">
        <img
          src="../../assets/gif/sinirli.svg"
          alt="this slowpoke moves"
          style="width:32px;height:32px;"
        />
        Sinirli
      </button>
      <button type="button" class="nes-btn is-success" (click)="submit()">
        <img
          src="../../assets/gif/uykusuz.svg"
          alt="this slowpoke moves"
          style="width:32px;height:32px;"
        />
        Uykusuz
      </button>
      <button type="button" class="nes-btn is-warning" (click)="submit()">
        <img
          src="../../assets/gif/hasta.svg"
          alt="this slowpoke moves"
          style="width:32px;height:32px;"
        />
        Hasta
      </button>
    </div>
  </div>
</ion-content>
