<ion-header>
  <ion-toolbar>
    <ion-title>Bildirimlerim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    *ngFor="let item of data"
    class="card nes-container is-rounded {{ getColor(item) }}"
    (click)="toggleExpand(item)"
    [ngClass]="{ expanded: item.isToggled, 'with-image': item.image }"
  >
    <ion-icon
      [name]="getIcon(item.type)"
      [ngClass]="getIcon(item.type)"
    ></ion-icon>
    <div class="card-text">
      <div class="card-title">
        <h2>
          {{ item.title }}
        </h2>
        <span class="spacer"></span>
        <h3>{{ item.date | date: 'h:mm' }}</h3>
      </div>
      <div class="hidden" *ngIf="item.image">
        <div class="separator"></div>
        <img [src]="item.image" class="image" />
      </div>
      <p style="font-size: 12pt">{{ item.text }}</p>
    </div>
  </div>
</ion-content>
