.card {
  margin: 8px;
  display: flex;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 12px;
  padding-top: 16px;
  padding-bottom: 12px;

  .separator {
    height: 0px;
    width: 0px;
    background: #333;
    margin-bottom: 4px;
    /* Set our transitions up. */
    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    transition: height 0.6s;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6s;
    transition: width 0.6s;
  }

  .hidden {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    align-items: center;
  }

  .image {
    width: 0px;
    /* Set our transitions up. */
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6s;
    transition: width 0.6s;
  }

  ion-icon {
    font-size: 26px;
    flex-shrink: 0;
  }

  .card-text {
    flex-grow: 1;
    margin-left: 8px;
    font-size: 12px;
    p {
      margin: 0px;
      color: #666;
    }

    .with-image {
      .card-title {
        margin-bottom: -18px;
      }
    }

    .card-title {
      display: flex;
      align-items: center;

      h2 {
        margin: 0px 0px 4px 0px;
        color: #333;
      }

      h3 {
        font-size: 14pt;
        margin: 0px;
      }

      .spacer {
        flex-grow: 1;
      }
    }
  }
}

.expanded {
  .image {
    width: 100%;
  }
  .separator {
    height: 1.25px;
    width: 100%;
  }
}

.system {
  background: #bbbbbb;
}

.supervisor {
  background: #23b574;
}

.coworker {
  background: #f39c10;
}

.customer {
  background: #ea5e50;
}

.heart {
  color: #a10a0a;
}

.bowtie {
  color: #2a3b75;
}

.pulse {
}

.flame {
  color: #fc5305;
}
